body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.890);
}

.navbar{
    background-color: transparent;
    position: relative;
    z-index: 4;
}

.nav-link{
    font-size: 15px;
}

.carousel-control-prev,carousel-control-next{
    width: 10%;

}

.site-wrapper{
    height: 640px;
}

.card,.list-group-item{
    background-color: rgba(0, 0, 0, 0.700);    
}

.parallax{
    background-image: url("content/z3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
}

@media only screen and (max-device-width:320px){
    .site-wrapper{
        height: 200px;
    }
    .col-md-4{
        margin: 5% 0%;
    }
    .carousel-control-next,.carousel-control-prev{
        display: none;

    }
}

